.table-common table {
  background: #fff;
  border: solid rgb(227 227 227) 1px;
}

.table-common .ant-table-thead {
  background: #f7f7f7 !important;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  overflow: auto;
  /* width: 100%; */
}

.full-page-loading {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 99999;
}

.message-error {
  font-weight: 600;
  text-align: left;
  color: #f61a1a;
}

.required {
  color: #f61a1a;
}

.text-truncate,
.text-truncate-2,
.text-truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Sửa từ 'initial' để giữ xuống dòng đúng */
}

.text-truncate {
  -webkit-line-clamp: 1;
}

.text-truncate-2 {
  -webkit-line-clamp: 2;
}

.text-truncate-3 {
  -webkit-line-clamp: 3;
}

.post-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.product-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.ant-upload.ant-upload-select {
  width: 100% !important;
}

/* Profile Header */
.account-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}

.account-btn {
  padding: 6px 12px;
  border: 1px solid #0070f3;
  border-radius: 4px;
  color: #0070f3;
  text-decoration: none;
  transition: background 0.3s ease;
}

.account-btn:hover {
  background-color: #f0f8ff;
}

.account-btn.register {
  background-color: #0070f3;
  color: white;
}

.account-btn.register:hover {
  background-color: #005ecb;
}

.account-dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  gap: 12px;
}

.account-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
